.box {
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-color: #343264;
  height: 145px;
  width: 235px;
}

.body {
  margin-left: 10px;
  margin-right: 20px;
}

.icon {
  margin-left: auto;
}