.profile {
  display: grid;
}
.avatar {
  display: grid;
  grid-template-columns: 60px 1fr 60px;

}

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-border);
}

.name {
  color: var(--color-primary);
  font-weight: bold;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 120px;
}
.publicityButton {
  font-size: 1rem;
  border: none;
  max-width: 80px;
  color: var(--color-primary);
}

.signOutButton {
  font-size: 1rem;
  border: none;
  color: var(--color-primary);
}