.overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(200, 200, 200, 0.7);
}

.avatar {
  grid-area: avatar;
}

.close {
  color: var(--color-post-bg);
}

.post {
  padding: 30px 15px 20px;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-pane);
  border-radius: 15px;
  margin-bottom: 35vh;
  margin-left: 16%;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .post {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.avatar {
  display: flex;
  margin-bottom: 5px;
}

.input {
  width: 100%;
}

.inputLarge {
  resize: none;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 18px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  height: 150px;
  width: 100%;
  font-family: var(--font);
  /*text-align: center;*/
  border: none;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
}

.body {
  font-family: var(--font);
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 10px;
  color: var(--color-border);
}

.name {
  font-family: var(--font);
  color: var(--color-primary);
  font-weight: bold;
  font-size: 1rem;
}

.shortBio {
  font-family: var(--font);
  color: var(--color-primary);
  font-size: 0.8rem;
}

.topic {
  background-color: var(--color-primary);
  color: var(--color-text-bg);
  border-radius: 10px;
  border-color: white;
  margin: 0px 10px 10px 10px;
  font-family: var(--font);
  font-size: 18px;
  transition-duration: var(--fade) !important;
}

.closeButton {
  cursor: pointer;
  margin: 5px 15px auto auto;
}

.closeButton svg {
  position: absolute;
  right: 15px;
  top: 20px;
  font-size: 20px;
  color: var(--color-primary);
}

.postButton {
  display: flex;
  flex-direction: column;
  color: var(--color-primary);
  font-size: 18px;
  border: none;
  margin-top: 10px;
  margin-right: 0;
  margin-left: auto;
}

.postButton svg {
  font-size: 40px;
}
