.overlay {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.avatar {
  grid-area: avatar;
}


.close {
  color: var(--color-post-bg);
}

.post {
  padding: 12px 15px;
  width: 100%;
  max-width: 600px;
  background-color: var(--color-primary);
  border-radius: 15px;
}

.avatar {
  display: grid;
  margin-bottom: 5px;
  grid-template-columns: 60px 1fr 60px;

}

.input {
  display: grid;
  grid-template-columns: 60px 1fr 60px;

}

.body {
  font-family: var(--font);
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-size: 1rem;

}

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-border);
}

.name {
  font-family: var(--font);
  color: var(--color-text-bg);
  font-weight: bold;
}

.topic {

  background-color: var(--color-post-bg) !important;
  color: var(--color-primary) !important;
  border-radius: 25px !important;
  margin-bottom: 10px !important;
  transition-duration: var(--fade) !important;

}


.closeButton {
  cursor: pointer;
  margin: 5px 15px auto auto;
  color: var(--color-text-bg);

}

.closeButton svg {
  font-size: 20px;
}

.postButton {
  display: flex;
  flex-direction: column;
  color: inherit;
  margin-right: 13px;
}

.postButton svg {
  font-size: 40px;
}

.inputLarge {
  resize: none;
  white-space: normal;
  overflow-wrap: break-word;
  hyphens: auto;
  font-size: 18px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  height: 100px;
  width: 100%;
  font-family: var(--font);
  /*text-align: center;*/
}

.tags {
  display: grid;
  grid-gap: 10px;

}