.form {
  padding-top: 10px;
  padding-bottom: 24px;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 40px 0 0;
  text-align: center;
  border-radius: 8px;
  width: 396px;
}

.input {
  width: 364px;
  height: 52px;
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  color: #1d2129;
}
