.inputLarge {
  border: 1px solid #dddfe2;
  margin: 15px 40px 15px 40px;
  min-width: 85%;
  border-radius: 5px;
  font-style: var(--font);
  font-size: 18px;
  height: 50px;
  text-align: left;
  background: var(--color-post-bg);
  color: var(--color-text);
}