.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .main {
    display: grid;
    grid-template-columns: 1px 200px 400px 1px;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 200px 450px 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 300px 450px 1fr;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 400px 650px 1fr;
  }
}

@media only screen and (min-width: 2000px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 600px 850px 1fr;
  }
}

.mainBorders {
  margin: 10px auto auto 10px;
}
