.topic {

  background-color: var(--color-primary);
  color: white;
  border-radius: 25px;
  margin-bottom: 10px;
  transition-duration: var(--fade);

}

.topic:hover {
  background-color: var(--color-hover); /* Green */
  color: var(--color-text-bg);
}