
.layout {
  display: grid;
}

.section {
  border-bottom: 1px solid var(--color-border);
  color: var(--color-text);
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  grid-gap: 5px;
}

.feed {
  display: grid;
  grid-gap: 50px;

}

.post {
  background: var(--color-post-area-bg);
  border-radius: 25px;
}

.text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px 15px 0px 40px;

}
