.searchBox {
  display: grid;
  grid-template-columns: 60px 1fr;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border: none;
  background: var(--color-search-bg);
}

.search {
  height: 35px;
  border: none;
  max-width: 90%;
  background: transparent;
  outline: none;
  text-align: center;
  font-family: var(--font);
}

.searchButton {
  color: inherit;
}

.searchButton svg {
  font-size: 20px;
}

/*.topic {*/
/*  max-width: 80px;*/
/*  font-size: 15px;*/
/*  margin-bottom: 12px;*/
/*}*/

.topic {
  background-color: var(--color-text-bg);
  color: var(--color-primary);
  border-radius: 10px;
  border: none;
  transition-duration: var(--fade);
  margin-bottom: 10px;
  font-family: var(--font);
  font-size: 12px;
  height: 80%;
}

.topic:hover {
  background-color: var(--color-primary); /* Green */
  color: var(--color-text-bg);
}

.tags {
  display: flex;
  flex-direction: row;
  grid-gap: 1rem;
  padding-left: 15px;
  width: 1fr;
}

.topicHeader {
  font-size: 15px;
  font-family: var(--font);
  margin-bottom: 18px;
}
