.searchBox{
  display: grid;
  grid-template-columns: 60px 1fr;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--c-border-color);
  background: var(--color-feed-bg);
  max-width: 400px;
  margin: 10px auto auto auto;
}

.search {
  height: 50px;
  border: none;
  max-width: 90%;
  background: var(--color-feed-bg);
}

.searchButton {
  color: inherit;
}

.searchButton svg {
  font-size: 20px;
}

.topic {
  max-width: 80px;
  font-size: 15px;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  margin-left: 12px;
}

.topicHeader {
  font-size: 10px;
  font-family: var(--font);
}