.comments {
  display: grid;

}
.modal {
  margin: 5px 5px 5px 15px;
  display: flex;
  align-items: center;

}
.avatar {
  margin-right: 15px;
}
.commentBox {
  min-width: 93%;
  display: grid;
  grid-template-columns: 1fr 60px;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--c-border-color);
  align-items: center;
}



.textarea {
  margin: 5px 5px 5px 25px;
  align-items: center;
  border: none;
  resize: none;
  color: var(--c-text-color);
  background-color: transparent;
  font-size: 1rem;
}
.commentButton {
  margin: auto 5px auto auto;
  border: none;
  display: grid;
  grid-template-columns: 80px 1fr;
}


.postButton {
  border: none;
  margin: 5px 35px 5px 5px;
  max-width: 20px;
  color: inherit;
  padding-right: 25px;
  color: var(--c-text-color);
}
