.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-post-area-bg);
    width: 216px;
    border-radius: 15px;
}
.topicBar {
    display: grid;
    row-gap: 20px;
}
.topic {
    background-color: var(--color-primary);
    color: white;
    border-radius: 25px;
    transition-duration: var(--fade);
    width: 12rem;
    margin: 0px 10px 10px 10px;
}

.topic:hover {
    background-color: var(--color-hover); /* Green */
    color: var(--color-text-bg);
}

.title {
    font-family: var(--font);
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-bottom: 20px;
    justify-content: center;
}