.feed {
  border-radius: 25px;
  background: var(--color-post-area-bg);
}

.post {
  display: grid;
  padding: 12px 15px;
  border-bottom: 1px solid var(--color-border);
}

.avatar {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
}

.body {
  font-family: var(--font);
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-border);
}

.name {
  font-family: var(--font);
  color: var(--color-primary);
  font-weight: bold;
}

.content {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.reportButton {
  margin: 5px 15px auto auto;
  color: inherit;
}

.reportButton {
  color: inherit;
}

.reportButton svg {
  font-size: 20px;
}

.tags {
  color: var(--color-primary);
  font-size: 12px;
}

.upButton {
  display: flex;
  flex-direction: column;
  color: inherit;
  margin-right: 13px;
}

.upButton svg {
  font-size: 40px;
}

.commentButton {
  margin: auto 5px auto auto;
  border: none;
  display: grid;
  grid-template-columns: 80px 1fr;
}

.secondaryComment {
  margin-left:20px;
}


