.feed {
  border-radius: 25px;
  background: var(--color-feed-bg);

}

.post {
  display: grid;
  padding: 12px 15px;
  border-bottom: 1px solid var(--color-border);
}

.avatar {
  display: grid;
  grid-template-columns: 60px 1fr 60px;

}

.body {

  display: grid;
  grid-template-columns: 60px 1fr 60px;
  font-size: 1rem;

}

.comments {
}


.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--color-border);
}

.name {
  color: var(--color-primary);
  font-weight: bold;
}

.content {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

.reportButton {
  margin: 5px 15px auto auto;
  color: inherit;

}

.reportButton {
  color: inherit;
}

.reportButton svg {
  font-size: 20px;
}

.upButton {
  color: inherit;
}

.upButton svg {
  font-size: 50px;
}
